<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<table class = "table table-bordered">
<table class="table table-striped">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Profession</th>
		<th>Gender</th>
		<th>Edit</th>
		<th>Details</th>
	</tr>
	{% for teacher in teachers%}
	<tr>
		<td>{{teacher.first_name}}</td>
		<td>{{teacher.last_name}}</td>
		<td>{{teacher.profession}}</td>
	    <td>{{teacher.gender}}</td>
	    <td><a href="/teacher/edit/{{teacher.pk}}">Edit</a>
	    <td><a href="/teacher/view/{{teacher.pk}}">view more</a>
    </tr>
    {%endfor%}

</table>
</table>
</body>
</html>