<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h2>STUDENTS LIST</h2>
	{% for student in students%}
	<button><a href ="/student/add/">New Student</a></button>
	<!-- {%endfor%} -->
<table class = "table table-bordered">
<table class="table table-striped">
	<tr>
		<th>First name</th>
		<th>Last name</th>
		<th>Date of birth</th>
		<th>Gender</th>
		<th>Email</th>
		<th>Phone number</th>
		<th>Date joined</th>
		<th>Courses</th>
		<th>Edit</th>
		<th>Details</th>

	</tr>
	{% for student in students%}
	<tr>
		<td>{{student.first_name}}</td>
		<td>{{student.last_name}}</td>
		<td>{{student.date_of_birth}}</td>
	    <td>{{student.gender}}</td>
	    <td>{{student.email}}</td>
	    <td>{{student.phone_number}}</td>
	    <td>{{student.date_joined}}</td>
	    <td>{{student.courses}}</td>
	    <td><a href="/student/edit/{{student.pk}}">Edit</a>
	    <td><a href="/student/view/{{student.pk}}">view more</a>
    </tr>
    {%endfor%}

</table>
</table>
</body>
</html>